/*=============================================================================
  ヘッダー
=============================================================================*/

/*-----------------------------------------------------------------------------
  色
-----------------------------------------------------------------------------*/
@import 'iro';

/*-----------------------------------------------------------------------------
  body
-----------------------------------------------------------------------------*/
body {
  // ヘッダーの高さ分 空ける
  margin-top: 100px !important;
}

/*-----------------------------------------------------------------------------
  メニューバー
-----------------------------------------------------------------------------*/
header.ui.menu {
  background-size: 100% auto;
  background: $sakurairo;

  .logo_mark a {
    display: grid;
    grid-template-columns: 72px 240px;
    grid-template-rows: 72px;
    img {
      grid-column: 1;
      grid-row: 1;
      margin: 5px 0 0 0;
    }
    h1 {
      grid-column: 2;
      grid-row: 1;
      align-self: center;
      margin: 0;
      font-size: 48px;
      color: $sanaeiro;
    }
  }

  .right.menu > .ui.item {
    font-size: 16px;
  }
}
