/*=============================================================================
  アプリケーション共通
=============================================================================*/
@import 'semantic-ui';

@import 'utilities/utility';
@import 'iro';
@import 'header';
@import 'footer';

/*
  デバッグ情報
-----------------------------------------------------------------------------*/
.debug_dump {
  margin-top:       2rem;
  padding:          2rem;
  border-radius:    1rem;
  background-color: $sakurairo;
}
